* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2EAE2;
  min-height: 100vh;
  align-content: center;
}

.perfume {
  margin: auto;
  width: 600px;
  height: 450px;
  align-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;

  &__image {
    img {
      width: 300px;
    }
  }

  &__descr {
    width: 300px;
    height: 450px;
    background-color: #fff;
  }
}