* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2EAE2;
  min-height: 100vh;
  align-content: center;
}

.perfume {
  margin: auto;
  width: 600px;
  height: 450px;
  align-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;

  &__image {
    img {
      width: 300px;
    }
  }

  &__feature {
    width: 300px;
    height: 450px;
    background-color: #fff;
    padding: 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.42em;
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1C232B;
    font-family: 'Fraunces', sans-serif;
  }

  &__descr {
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 164%;
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
  }

  &__prices {
    margin-top: 29px;
    display: flex;
    gap: 19px;
    align-items: center;
  }

  &__price-discount {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #3D8168;
    font-family: 'Fraunces', sans-serif;
  }

  &__price-regular {
    font-weight: 500;
    font-size: 13px;
    line-height: 177%;
    text-decoration: line-through;
    color: #6C7289;
    font-family: 'Montserrat', sans-serif;
  }

  &__add-to-cart {
    margin-top: 30px;
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background-color: #3D8168;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #1A4032;
    }
  }
}